* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0e3dd8;
    position: absolute;
    z-index: -1;
    clip-path: circle(52% at left 20%);
    transition: all .5s ease;
}
header {
    width: 90%;
    height: 95%;
    background-color: #ffffff3c;
    border-radius: 40px;
}
header nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a.logo {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    transition: all .5s ease;
}
nav a.logo:hover {
    text-shadow: -6px -6px #000;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 10px;
    text-align: center;
    transition: all .5s ease;
}
nav ul li a.active {
    color: gray;
    background-color: #fff;
    border-radius: 20px;
}
nav ul li a {
    color: #fff;
    margin: auto;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s ease;
}
nav ul li a:hover {
    color: #000;
    border: 2px #fff1 solid;
    border-radius: 10px;
    background-color: #fff5;
}
header main {
    height: 80%;
}
main img {
    width: 150px;
    height: 170px;
    margin: 10px auto;
    order: 1;
    display: block;
    border: 2px blue solid;
    transition: all .5s ease;
    pointer-events: none;
}
main div {
    font-size: 15px;
    margin: 10px;
    padding-bottom: 10px;
    align-items: center;
    align-content: center;
    transition: all .5s ease;
}
main div h2 {
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    color: #000;
    pointer-events: none;
}
main div p {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    line-height: 20px;
    pointer-events: none;
}
div.btn {
    margin: 0 10px;
    transition: all .5s ease;
}
div.btn a {
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    display: flex;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    transition: all .8s ease;
}
div.btn a:hover {
    border: 1px black solid;
    background-color: transparent;
    color: #000;
    background-color: #fff;
}
.icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: start;
    width: 80%;
    height: fit-content;
    transition: all .8s ease;
}
.icons a {
    display: inline-block;
    margin: auto;
    width: 55px;
    height: 55px;
    position: relative;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
.icons a .layer {
    justify-self: center;
    align-self: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform: rotate(0deg);
    transform-origin: bottom;
}
.icons a:hover .layer {
    transform: rotate(-10deg) skew(30deg);
}
.icons div.text {
    height: 50%;
    font-size: 10px;
    color: #000;
    text-transform: none;
    align-content: flex-end;
    opacity: 0;
    margin: 0 auto;
}
.icons a:hover div.text {
    opacity: 1;
}
.icons a .layer span {
    position: absolute;
    width: 60%;
    height: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all .8s;
}
.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}
.icons a .layer span.fab {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    color: #000;
}
#link,
#git,
#insta,
#fb,
#what,
#tele,
#link_i,
#git_i,
#insta_i,
#fb_i,
#what_i,
#tele_i {
    color: #d4af37;
    border-color: #d4af37;
}
.icons a:hover #link,
.icons a:hover #link_i {
    color: blue;
    border-color: blue;
}
.icons a:hover #git,
.icons a:hover #git_i {
    color: black;
    border-color: black;
}

.icons a:hover #insta,
.icons a:hover #insta_i {
    color: #dd2a7b;
    border-color: #dd2a7b;
}
.icons a:hover #fb,
.icons a:hover #fb_i {
    color: blue;
    border-color: blue;
}
.icons a:hover #what,
.icons a:hover #what_i {
    color: green;
    border-color: green;
}
.icons a:hover #tele,
.icons a:hover #tele_i {
    color: blue;
    border-color: blue;
}
.icons a:hover #link_i,
.icons a:hover #git_i,
.icons a:hover #insta_i,
.icons a:hover #fb_i,
.icons a:hover #what_i,
.icons a:hover #tele_i {
    background-color: #fff;
}

@media (max-width: 600px) {

    main div {
        font-size: 10px;
        padding: 0 15px;
    }

    header nav a.logo,
    header nav ul li a {
        font-size: 15px;
        padding: 0 1px;
    }
    div.icons a {
        width: 40px;
        height: 40px;
        margin: 15px auto;
    }
    .icons a .layer span.fab {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
    div.btn a {
        width: 150px;
        height: 20px;
        font-size: 10px;
    }
}
@media (min-width: 700px) {
    header nav ul li a {
        font-size: 20px;
    }
    header nav a.logo {
        font-size: 25px;
    }
    body::after {
        clip-path: circle(46% at top);
    }
    main img {
        width: 150px;
        height: 180px;
    }
}
@media(min-width:720px) {
    body::after {
        clip-path: circle(430px at top);
    }
}